<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Về NDK Shop</h5>
                <p>Chuyên cung cấp các sản phẩm công nghệ chính hãng với chất lượng và dịch vụ tốt nhất.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Danh mục</h5>
                <ul class="footer-links">
                    <li><a href="#">Điện thoại</a></li>
                    <li><a href="#">Laptop</a></li>
                    <li><a href="#">Máy tính bảng</a></li>
                    <li><a href="#">Đồng hồ thông minh</a></li>
                    <li><a href="#">Tai nghe</a></li>
                    <li><a href="#">Phụ kiện</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Hỗ trợ</h5>
                <ul class="footer-links">
                    <li><a href="#">Trung tâm hỗ trợ</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Vận chuyển & Giao hàng</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Liên hệ</h5>
                <ul class="footer-links">
                    <li><i class="fas fa-map-marker-alt me-2"></i> 123 Nguyễn Văn Linh, Quận 7, TP.HCM</li>
                    <li><i class="fas fa-phone me-2"></i> 1900 1234</li>
                    <li><i class="fas fa-envelope me-2"></i> info@ndkshop.com</li>
                    <li><i class="fas fa-clock me-2"></i> 8:00 - 22:00 (T2 - CN)</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2023 NDK Shop. Tất cả các quyền được bảo lưu.</p>
        </div>
    </div>
</div>